{ margin: 0;
  padding: 0;
  }

header {
        background-image: url(../computer.jpg);
        height: 100vh;
        background-size: cover;
        background-position: center;
}

ul{
        float: right;
        list-style-type: none;
}

ul li{
        display: inline-block;
}

ul li a{
        text-decoration: none;
        color: #fff;
        padding: 5px 20px;
        border: 1px solid #fff;
        transition: 0.6s ease;
}

ul li a:hover{
        background-color: #fff;
        color:#000;
}

ul li a:active a{
        background-color: #fff;
        color:#000;
}

.title{
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%,-50%)
}

.title h1{
        color :#fff;
        font-size:20px;
}

.button{
     position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%,-50%)
}

.btn{
    text-decoration: none;
    border: 1px solid #fff;
    padding: 10px 30px;
    colour: #fff;
    text-decoration: none;
    transition: 0.6s ease;
}

.btn:hover{
     background-color: #fff;
     color:#000;
}

body {
    font-family: 'Roboto Slab', serif;
    background: #DAE2F8;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #D6A4A4, #DAE2F8);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #D6A4A4, #DAE2F8);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.h1-tag{
    text-align: center;
    margin-top: 4%;
}
.form-content-section{
    width: 50%;
    margin-top: 3%;
    margin-left: 25%;
}
@media screen and (max-width: 600px){
    .form-content-section{
        width: 100%;
        margin-top: 10%;
        margin-left: 0;
    }
}

@media screen and (max-width: 800px){
    .form-content-section{
        width: 100%;
        margin-top: 10%;
        margin-left: 0;
    }
}

@media screen and (max-width: 600px){
    .form-group{
        margin-left: 10px;
        margin-right: 10px;
    }
    .btn-primary{
        margin-left: 10px;
    }
}
@media screen and (max-width: 800px){
    .form-group{
        margin-left: 20px;
        margin-right: 20px;
    }
    .btn-primary{
        margin-left: 20px;
    }
}
.myclass{
    border-radius: 20px;
}
